*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header{
height: 100vh;
background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/cover.jpg);
background-position: center;
background-size: cover;
position: relative;
}
.navbar-style{
box-shadow: 0 5px 10px white;
text-transform: uppercase;
}
nav{
    display: flex;
    padding: 0% 2%;
    justify-content: space-between;
    position: relative;
}
.form-box{
    width: 300px;
    height: auto;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5%;
    overflow: hidden; /* to hide the other form*/
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff612f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    position: relative;
}

    #btn{
        top: 0;
        left: 0;
        position: absolute;
        width: 110px;
        height:100%;
        background: linear-gradient(to right,#ff106f,#ffad06);
        border-radius: 30px;
        transition: 0.5s;
    }
    .social-icons{
        margin: 30px auto;
        text-align: center;
    }
    .social-icons img{
        width: 30px;
        padding-right: .1%;
        margin: 0 12px; 
        box-shadow: 0 0 20px 0 #7f7f7f3d ;
        cursor: pointer;
        border-radius: 50%; /*for border in round shape*/
    }  
    .input-group{
     top: 10px;
    position: relative;
    width: 220px;
    height: auto;
    transition: .5s;
    }
    .input-field{
        width: 100%; 
        padding: 2px 0;
        margin: 3px 0;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 1px solid #999;
        outline: none;
        background: transparent;
    }
    .submit-btn{
        width: 85%;
        padding: 5px 20px;
        cursor: pointer;
        display: block;
        margin: auto;
        background: linear-gradient(to right,#ff106f,#ffad06);
        border: 0;
        outline: none;
        border-radius: 30px;

    }
    .check-box{
        margin: 30px 10px 0;
    }
    span{
        color: #777;
        font-size: 10px;
        bottom: 60px;
    }
    #login{
        left: 50px;
    }
    #register{
        left: 45px;
    }
    .form{
        position: relative;
    }
.logo{
    height: 62px;
    padding:2px 2px;
    border-radius: 50%;
}
.icon-bar{
background: rgb(223, 223, 225);
} 
li a{
    color: #fff;
}
.big-text{
    font-size: 20px;
    margin: 20px 0;
    color: rgb(104, 26, 26);
}
a.btn{
    margin: 30px 10px;
    width: 150px;
    border-radius: 20px;
}
a.btn-first{
    background-color: aqua;
    color: #333;

}
a.btn-second{
    background: transparent;
    border: 1px solid darkgoldenrod;
    color: black;

}
a.btn:hover{
    background: darkgoldenrod;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}
.container1{
    padding-top: 10%;
    width: 80%;
margin: auto;
padding-top: 100px;
text-align: center;
}
.container1.banner-info{
    flex-basis: 44%;
margin: auto;


}
.container1.banner-img{
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30%;

}
.container1.banner-img .fa{
    color: #fff;
}
@media(max-width:700px) {
    .banner-img{
        margin-left: 40px;
        margin-right: 15px;

    }
}
    
*{
    box-sizing: border-box}
    .mySlides1, .mySlides2 {display: none}
    img {vertical-align: middle;}
    /* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
